# Build output
bin/
obj/

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# Ignore your jar file
bfg-1.15.0.jar

# Ignore Terraform.git folder
Terraform.git/
Terraform/


# Ignore CleanRepo folder
CleanRepo/

# VS Code settings
.vscode/

# User-specific files
*.user
*.suo
